@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";

/* Tema claro */
:root {
  --title: var(--purple);
  --bg: #fff;
  --bg-2: #f5f5f7;
  --text: #111111;
  --text-2: #444444;
  --border: #dcdcdc;
  --border-2: #dcdcdc;
  --icon: var(--purple);

  --select: #dcdcdc;

  /* Cores pensadas inicialmente (como base) */
  --gradient-blue: #5170ff;
  --gradient-pink: #ff66c4;
  --purple: #5200ff;
  --dark-purple: #0f0030;
  --green: #88ff89;
}

/* Tema escuro */
.dark {
  --title: #fff;
  --bg: #0f0f10;
  --bg-2: #0f0030;
  --bg-3: #18181b;
  --text: #f2f2f2;
  --text-2: #bbbbbb;
  --border: #1b0153;
  --border-2: var(--green);
  --icon: var(--green);

  --select: #18181b;
}

.nav-hover {
    @apply hover:underline;
}

/* icons? */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.title {
  @apply flex justify-center text-xl font-bold text-(--text) mb-4;
}